.blogPostCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 85%, 0.7);
  padding: var(--mantine-spacing-md);
}
/* For mobile, image display will be optimized */
@media (max-width: 768px) {
  .image {
    height: 200px;
    object-fit: cover;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--mantine-radius-md);
}

.name {
  font-weight: bold;
  color: var(--mantine-color-black);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
}

.description {
  color: var(--mantine-color-black);
  opacity: 0.7;
  font-weight: normal;
}
